# OpenAI
OPENAI_API_KEY=

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ts_ai_dev

LANGFUSE_SECRET_KEY=your-langfuse-secret-key
LANGFUSE_PUBLIC_KEY=your-langfuse-public-key
LANGFUSE_HOST=your-langfuse-host

# Server
PORT=3000
NODE_ENV=development

JWT_SECRET=